
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

.background {
  background-color: #CCCCCC;
}

h1 {
  vertical-align: middle;
}

.title {
  font-family: 'Galada', cursive;
  color: #CCCCCC;
}

.bold {
  font-family: 'Alegreya SC', serif;
}

.soft {
  font-family: 'Roboto', sans-serif;
}
.light{
  font-family: 'Roboto', sans-serif;
}
.border{
  color: black;
  background: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.green-box{
  background-color: #88C100;
  border-radius: 6%;
  font-family: 'Alegreya SC', serif;
  color: white;
  padding: 10%;
  border: 10px solid white;
  height: 200px;
}

.green-box:hover{
  background-color: #B4DF37;
}

.yellow-box{
  background-color: #FABE28;
  border-radius: 6%;
  font-family: 'Alegreya SC', serif;
  color: white;
  padding: 10%;
  border: 10px solid white;
  height: 200px;
}

.yellow-box:hover {
  background-color: #F6D86B;
}

.right{
  float: right;
}

.orange-box{
  background-color: #FF8A00;
  border-radius: 6%;
  font-family: 'Alegreya SC', serif;
  color: white;
  padding: 10%;
  border: 10px solid white;
  height: 200px;
}

.orange-box:hover{
  background-color: #F8A13F;
}

.pad{
  padding-left: 2%;
}

.borders {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 8px 6px -6px gray;
  padding-bottom: 5px;
  background-color: white;
}

.logo {
  height: 50px;
  width: 50px;
}

.list{
  overflow: hidden;
  box-shadow: 0 0 0 0 white;
}

.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inline-block {
  padding-top: 2.5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 2.5%;
  font-family: 'Roboto', sans-serif;
}

.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 8px 6px -6px gray;
  padding-bottom: 5px;
}

.aboutme {
  width: 200px;
  height: 50px;
}

.padding-top {
  padding-top: 1%;
  text-align: left;
}

.title-1 {
  font-family: 'Galada', cursive;
  color: #333333;
  margin-left: 2%;
}

.accent-text {
  font-family: 'Lato', sans-serif;
  color: white;
  padding-left: 4%;
  padding-top: 2%;
}

.padding {
  margin-top: 7.5%;
  font-family: 'Galada', cursive;
  color: #EC4401;
  text-decoration: none;
}

.padding:hover {
  color: #EC4401;
  text-decoration: none;
}

a {
  padding-top: 10px;
  text-align: center;
}
.western {
  font-family: 'Ewert', cursive;
  color: white;
}

.vr {
    width:10px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
}

hr {
  width: 100%;
  text-align: center;
  color: gray;
}

.row {
  text-align: center;
}

.spacing {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.text-1 {
  font-family: 'Merriweather', serif;
  color: #333333;
}

.title-center {
  font-family: 'Galada', cursive;
  color: #EC4401;
  text-align: center;
}
.gray-box {
  position: absolute;
  left: 2%;
  right: 2%;
  background-color: #D5D2C8;
}

.profile-box {
  background-color: #363636;
  border-radius: 10px;
  left: 50%;
  right: 50%;
  box-shadow: 0 8px 6px -6px gray;
}

.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0 8px 6px -6px gray;
  float:left;
  margin-bottom: 3%;
  display: flex;
}
.container  {
  text-align: center;
  display: flex;
}

.small-title {
  font-family: 'Galada', cursive;
  color: #EC4401;
}

col-3 {
  left: 50%;
  padding-bottom: 5%;
}

.bot-pad {
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;
}

img:hover {
  border: 2px solid #FABE28;
  border-radius: 5px;
}

.left {
  text-align: left;
}

.center{
  left: center;
  right: center;
}

.mid{
align-items: center;
vertical-align: middle;
}
