
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

.title {
  font-family: 'Galada', cursive;
  color: #EC4401;
}

.title-1 {
  font-family: 'Galada', cursive;
  color: #EC4401;
  margin-left: 2%;
}

.accent-text {
  font-family: 'Lato', sans-serif;
  color: white;
  padding-left: 4%;
  padding-top: 2%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 75%;
  display: block;
  margin: auto;
}

.gray-box {
  position: absolute;
  left: 2%;
  right: 2%;
  background-color: #D5D2C8;
}

.profile-box {
  position: absolute;
  border-style: groove;
  border-radius: 4px;
  left: 30%;
  right: 30%;
  border-color: #25232D;
  border-width: 1px;
}

.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0 8px 6px -6px gray;
  float:left;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 3%;
}
.container  {
  justify-content: center;
  display: flex;
  text-align: center;
}

.small-title {
  font-family: 'Galada', cursive;
  color: #EC4401;
}
